---
### m1well sass ###
---

$glass-panel-spacing: 60px;
$glass-pane-color: rgba(0, 0, 0, 0.45);
$link-hover-color: rgba(0, 0, 0, 0.70);
$white-color: rgba(255, 255, 255, 0.85);
$smartphone-max-width: 575.98px;
$background-original: url('../images/background-original.jpg') no-repeat center top fixed;
$background-small: url('../images/background-small.jpg') no-repeat center top fixed;

html, body {
  font-family: 'Exo 2', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body.fullscreen-background {
  background: $background-original;
  @media (max-width: $smartphone-max-width) {
    background: $background-small;
  }
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.glass-panel {
  background-color: $glass-pane-color;
  margin-bottom: $glass-panel-spacing;
  margin-top: $glass-panel-spacing;
  min-width: 280px;
}

div.core-content {
  color: $white-color;
}

/* --------- Avatar ---------------------------------------------------------------------------- */

#avatar {
  height: 220px;
  border: 5px solid;
  border-color: $white-color;
  @media (max-width: $smartphone-max-width) {
    height: 110px;
    border: 2px solid;
  }
  border-radius: 100%;
}

/* --------- Title / Subtitle ------------------------------------------------------------------ */

h1 {
  font-size: 3em;
  @media (max-width: $smartphone-max-width) {
    font-size: 2em;
  }
}
h3 {
  font-size: 1.6em;
  @media (max-width: $smartphone-max-width) {
    font-size: 1.1em;
  }
}

/* --------- Links -------------------------------------------------------------------- */

div.row.links {
  > div {
    white-space: nowrap;
    padding: 0;
  }
  a {
    color: $white-color;
    border-radius: 100%;
    border: 2px solid;
    border-color: $white-color;
    display: inline-block;
    font-size: 1.8em;
    overflow: hidden;
    @media (max-width: $smartphone-max-width) {
      border-radius: 6px;
      font-size: 1.3em;
      width: 100%;
    }
    &:hover, &:active {
      text-decoration: none;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      transition: 300ms;
      background-color: $link-hover-color;
    }
    > i {
      display: inline-block;
      margin: 12px;
      @media (max-width: $smartphone-max-width) {
        margin: 12px;
      }
    }
  }
}

/* --------- additional HTML ------------------------------------------------------------------------ */

div.additional-html {
  color: $white-color;
  text-align: center;
  padding: 10px 30px;
  max-width: 580px;
}

/* --------- Footer ---------------------------------------------------------------------------- */

footer {
  position: absolute;
  bottom: 0;
  height: $glass-panel-spacing;
  line-height: $glass-panel-spacing - 2 * 10px;
  padding: 10px 0;
  width: 100%;
  color: $white-color;
}
