---
permalink: /
layout: default
---
<div class="container-fluid" id="site-content">
  <div class="row" id="glass-panel">

    <div class="col">

      {% include presentation.html %}

      <hr class="hr-text" line-text="skills">

      {% include skills.html %}

      <hr class="hr-text" line-text="qualifications">

      {% include qualifications.html %}

      <hr class="hr-text" line-text="main technologies">

      {% include technologies.html %}

      <hr class="hr-text" line-text="links">

      {% include links.html %}

      <hr class="hr-text" line-text="about">

      {% include about.html %}

      <button id="back-to-top">^</button>

    </div>

  </div>
</div>

<footer class="page-footer" id="site-footer">
  {% include footer.html %}
</footer>
