<div class="row justify-content-center">
  <div class="col-12 px-0 py-4" id="about">
    <h4>- Michael Wellner -</h4>
    passionate software developer from the south of germany.<br>
    mainly java backend, but going fullstack with angular now.<br>
    i also have a good understanding of the devops concepts.<br>
    <br>
    <a onclick="" class="about-link" href="https://maps.google.com/?q=stuttgart">
      <i class="fas fa-map-marker-alt fa-fw"></i>
      <span class="d-inline">Stuttgart</span>
    </a>
    <br>
    <a onclick="" class="about-link" href="mailto:info@m1well.com">
      <i class="fas fa-envelope fa-fw"></i>
      <span class="d-inline">info@m1well.com</span>
    </a>
    <br>
    <a onclick="" class="about-link" id="toggler">
      <i class="fas fa-lock fa-fw"></i>
      <span class="d-inline" id="privacy-arrow">Privacy Policy</span>
      <i class="fas fa-chevron-down fa-fw" id="privacy-arrow-icon"></i>
    </a>
    <div id="collapse">
      <h4>- Disclaimer -</h4>
      This is my private developer portfolio.<br>
      This website thus solely expresses my private, personal opinions and is not
      representative of my work.<br>
      <h4>- Data Protection Policy (GDPR) -</h4>
      This website does not collect, store or process Personally
      Identifiable Information (PII).<br>
      This website also does not require the use of cookies.<br>
      <h4>- Third Party Inclusion -</h4>
      This website is hosted by Github using Github Pages.<br>
      The Github Global Privacy Practices are available
      <a class="github-privacy-link"
         href="https://help.github.com/en/github/site-policy/global-privacy-practices">here</a>
    </div>
  </div>

</div>
