<div class="row justify-content-center">
  <div class="col-10 px-0">
    <div class="row justify-content-center">

      <div class="col-11 col-md-3 p-2">
        <div class="card">
          <h3 class="techs-title">development</h3>
          {% assign development = site.data.technologies | where: "active", true | where: "cluster", "development" %}
          {% for tech in development %}
          {% assign percentage = 100 | divided_by: 10 | times: tech.level %}
          <h4 class="progress-title">{{ tech.name }}</h4>
          <div class="progress blue">
            <div class="progress-bar" style="width: {{ percentage }}%;">
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-11 col-md-3 p-2">
        <div class="card">
          <h3 class="techs-title">framework</h3>
          {% assign framework = site.data.technologies | where: "active", true | where: "cluster", "framework" %}
          {% for tech in framework %}
          {% assign percentage = 100 | divided_by: 10 | times: tech.level %}
          <h4 class="progress-title">{{ tech.name }}</h4>
          <div class="progress blue">
            <div class="progress-bar" style="width: {{ percentage }}%;">
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-11 col-md-3 p-2">
        <div class="card">
          <h3 class="techs-title">tool</h3>
          {% assign tool = site.data.technologies | where: "active", true | where: "cluster", "tool" %}
          {% for tech in tool %}
          {% assign percentage = 100 | divided_by: 10 | times: tech.level %}
          <h4 class="progress-title">{{ tech.name }}</h4>
          <div class="progress blue">
            <div class="progress-bar" style="width: {{ percentage }}%;">
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-11 col-md-3 p-2">
        <div class="card">
          <h3 class="techs-title">os / runtime / database</h3>
          {% assign os-runtime-database = site.data.technologies | where: "active", true | where: "cluster", "os-runtime-database" %}
          {% for tech in os-runtime-database %}
          {% assign percentage = 100 | divided_by: 10 | times: tech.level %}
          <h4 class="progress-title">{{ tech.name }}</h4>
          <div class="progress blue">
            <div class="progress-bar" style="width: {{ percentage }}%;">
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</div>
