<section id="skills" class="section">
<div class="row justify-content-center">

  <div class="card-deck">
    <div class="card">
      <div class="card-header text-center">Development</div>
      <div class="card-body text-center">
        dfddfdfdfdfdfdfd
      </div>
    </div>
    <div class="card">
      <div class="card-header text-center">Tools</div>
      <div class="card-body text-center">
        dfddfdfdfdfdfdfd
      </div>
    </div>
    <div class="card">
      <div class="card-header text-center">Personal</div>
      <div class="card-body text-center">
        dfddfdfdfdfdfdfd
      </div>
    </div>
  </div>

</div>
</section>
