@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/exo-2-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Exo 2'), local('Exo2-Regular'),
  url('../fonts/exo-2-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/exo-2-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/exo-2-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/exo-2-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/exo-2-v4-latin-regular.svg#Exo2') format('svg'); /* Legacy iOS */
}

html, body {
  font-family: 'Exo 2', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body.fullscreen-background {
  background: $background-original;
  @media (max-width: $smartphone-max-width) {
    background: $background-phone;
  }
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#site-content {
  min-width: 360px;
  color: $white-color;
}

#glass-panel {
  background-color: $glass-pane-color;
  margin-top: $glass-panel-spacing;
  margin-bottom: $glass-panel-spacing;
}

#avatar {
  width: 200px;
  border: 3px solid;
  border-color: $white-color;
  @media (max-width: $smartphone-max-width) {
    width: 110px;
    border: 3px solid;
  }
  border-radius: 100%;
}

#logo {
  width: 160px;
  @media (max-width: $smartphone-max-width) {
    width: 90px;
  }
}

h1 {
  font-size: 3em;
  @media (max-width: $smartphone-max-width) {
    font-size: 2em;
  }
}

h3 {
  font-size: $font-size-text;
  padding-top: 7px;
  @media (max-width: $smartphone-max-width) {
    font-size: $font-size-text-phone;
    padding-top: 5px;
  }
}

#links {
  > div {
    white-space: nowrap;
    padding: 0;
  }
  a {
    color: $white-color;
    border-radius: 100%;
    border: 2px solid;
    border-color: $white-color;
    display: inline-block;
    font-size: $font-size-icons;
    overflow: hidden;
    box-shadow: 0 5px 8px 0 $white-shadow, 0 6px 20px 0 $white-shadow;
    text-decoration: none;
    @media (max-width: $smartphone-max-width) {
      border-radius: 5px;
      font-size: $font-size-icons-phone;
      width: 94%;
      margin: 0 3%;
    }
    > i {
      display: inline-block;
      margin: 12px;
      @media (max-width: $tablet-max-width) {
        margin: 9px;
      }
      @media (max-width: $smartphone-max-width) {
        margin: 13px;
      }
    }
  }
}

#description {
  color: $white-color;
  text-align: center;
  padding: 10px 30px;
  max-width: 680px;
  font-size: $font-size-text;
  @media (max-width: $smartphone-max-width) {
    font-size: $font-size-text-phone;
  }
}

#site-footer {
  color: $white-color;
  font-weight: bold;
  min-width: 330px;
  width: 100%;
  position: absolute;
  bottom: 3px;
  font-size: $font-size-footer;
  @media (max-width: $smartphone-max-width) {
    color: $black-color;
    font-size: $font-size-footer-phone;
  }
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 27px;
  right: 20px;
  z-index: 99;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: $blue-color;
  color: $white-color;
  cursor: pointer;
  padding: 5px 12px 1px 12px;
  border-radius: 5px;
}
