$glass-panel-spacing: 60px;
$glass-pane-color: rgba(0, 0, 0, 0.50);
$glass-pane-color-2: rgba(0, 0, 0, 0.38);
$white-color: rgba(255, 255, 255, 0.85);
$black-color: rgba(10, 10, 10, 0.85);
$blue-color: rgba(40, 100, 200, 0.85);
$blue-color-progress: rgba(40, 100, 200, 0.99);
$white-shadow: rgba(255, 255, 255, 0.3);
$x-small-max-width: 575.98px;
$small-max-width: 767.98px;
$background-original: url('../images/background/background-original.png');
$background-phone: url('../images/background/background-phone.png');
$font-size-icons: 1.3em;
$font-size-icons-phone: 1.0em;
$font-size-header: 1.9em;
$font-size-header-phone: 1.5em;
$font-size-text: 1.3em;
$font-size-text-phone: 0.8em;
$font-size-footer: 1.1em;
$font-size-footer-phone: 0.6em;
